* {
  font-family: georgia;
  font-size: 1.0em;
}
div.main {
  width:720px;
  margin: auto;
}
span.date {
    float: right;
    text-align: right;
}
h1 {
    font-size: 1.2em;
}
h2 {
    font-size: 1.1em;
    font-style: italic;
}
h3 {
    font-size: 1.0em;
}

span.print-button {
    float: right;
}
div.title {
    text-align: center;
    clear: right;
}
div.indent {
    margin-left: 50px;
}
div.section {
    margin-left: 70px;
}
div.item {
    margin-top: 20px;
    text-indent: -20px;
}
p {
    text-indent: -20px;
}
div.noindent p {
    text-indent: 0px;
}
div.noindent {
    margin-left: 50px;
}

span.author_icon {
	background-color: lightgrey;
	font-family: sans-serif;
	color: grey;
	font-size: 10px;
	padding: 8px;
	border-radius:8px;
	margin-left: -70px;
	float: left;
}

